{% import 'macros/retcon.twig' as retcon %}

{% extends '_layout' %}

{% block content %}
    {% cache %}
    <div class=" max-w-6xl m-auto px-6 md:px-10 mt-12">
        <h2 class="max-w-3xl text-5xl leading-none font-bold mb-12">{{ entry.title }}</h2>
        {% include 'snippets/postMatrix' with { 'postMatrix' : entry.postMatrix } %}
    </div>
    {% endcache %}
{% endblock %}
