{% import 'macros/retcon.twig' as retcon %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {% include('snippets/icons.twig') %}

    <link rel="preload" href="https://use.typekit.net/bfy2jut.js" as="script" >
    <script>
      (function(d) {
        var config = {
          kitId: 'bfy2jut',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link rel="stylesheet" href="/assets/css/app.css">
    <!-- Firebase performance -->
    <script>
        var firebaseConfig = {
          apiKey: "AIzaSyDiASG_06i0VGkuyEZV34TovUMhT7VqNKQ",
          authDomain: "to-be-defined.firebaseapp.com",
          databaseURL: "https://to-be-defined.firebaseio.com",
          projectId: "to-be-defined",
          storageBucket: "to-be-defined.appspot.com",
          messagingSenderId: "522377093558",
          appId: "1:522377093558:web:899903bdacd59d24"
        };
        (function(sa,fbc){function load(f,c){var a=document.createElement('script');
        a.async=1;a.src=f;var s=document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(a,s);}load(sa);window.onload = function() {firebase.initializeApp(fbc).performance();};
    })('https://www.gstatic.com/firebasejs/6.0.2/firebase-performance-standalone.js', firebaseConfig);
    </script>
</head>
<body class="font-body text-lg">
    <div class="">

        {% include ('snippets/header') %}

        <main class="mb-20">
            {% block content %}Nothing here{% endblock %}
        </main>

        {% include ('snippets/signup') %}
        {% include ('snippets/footer') %}

    </div>

    {% block javascripts %}

    {% endblock %}

</body>
</html>
