.styled-checkbox {
    @apply relative appearance-none overflow-hidden;
    @nest &:before {
        content: '';
        @apply rounded-sm border border-grey h-8 w-8 block;
    }
    @nest &:disabled:before {
        @apply border-grey bg-grey;
    }
    @nest &:checked:after {
        content: '';
        @apply block absolute bg-transparent;
        top: 50%;
        left: 50%;
        width: 9.6px;
        height: 16px;
        transform: translate(-50%, -93%) scale(1) rotate(45deg);
        box-shadow: 4px 4px 0px 0px #000;
    }
}
