{% macro richTextClasses(content) %}

    {{ content | retcon([
        ['attr', 'p', { class: 'max-w-xl mb-4' }],
        ['attr', 'a', { class: 'underline hover:no-underline' }],
        ['attr', 'h2', { class: 'max-w-3xl text-5xl leading-none font-bold mt-16 mb-6' }],
        ['attr', 'h3', { class: 'max-w-3xl text-3xl leading-none font-bold mt-16 mb-6' }],
        ['attr', 'ul', { class: 'list-disc mb-6' }],
        ['attr', 'ol', { class: 'list-decimal mb-6' }],
        ['attr', 'li', { class: 'ml-4 mb-4 max-w-lg' }],
        ['attr', 'blockquote', { class: 'border-l-2 pl-2 italic max-w-xl my-12 text-2xl' }],
    ]) }}

{% endmacro %}
