<div class="max-w-6xl m-auto px-6 md:px-10">
    <header class=" py-6 relative clearfix">
        <img class="w-25 absolute logo-position" src="/assets/images/squiggle.svg">
        <h1 class="uppercase text-2xl font-bold sm:float-left mr-12">
            <a href="/">To Be Defined</a>
        </h1>
        <nav class="sm:float-right leading-loose">
            <ul>
                <li>
                    <a class="hover:underline mr-6" href="/history">History</a>
                    <!-- <a class="hover:underline" href="/blog">Blog</a> -->
                </li>
            </ul>
        </nav>
    </header>
</div>
