{% import 'macros/retcon.twig' as retcon %}

{% for block in postMatrix.all() %}
    {% if block.type == 'richText' %}
        <div class="rich-text float-clear">
            {{ retcon.richTextClasses(block.richText) }}
        </div>
    {% endif %}
    {% if block.type == 'image' %}
        <div class="float-clear max-w-xl my-6">
            <img class="max-w-full" src="{{ block.image.first().url() }}">
        </div>
    {% endif %}
{% endfor %}
