<aside class="pb-6 text-center">

    <div class="max-w-4xl mx-auto bg-grey-light p-8 mb-12">
        <h3 class="max-w-3xl mx-auto text-3xl leading-none font-bold mb-4">Follow our progress</h3>
        <div class="w-full max-w-md mx-auto">
            <p class="mb-6">
                We’ll keep you informed about our journey to creating a transparent web design studio
            </p>
            <form method="POST" action="" class="lb-form" data-ajax-enabled="1" data-has-consent="1">
                <input type="hidden" name="action" value="list-builder/signup/store">
                <input type="hidden" name="source" value="footer-signup-2">
                {{ csrfInput() }}

                <div class="flex flex-wrap">
                    <input type="email" name="email"
                        placeholder="Enter your email address"
                        class="border-grey border px-5 py-3 flex-1 rounded-sm w-full mb-4 lb-input--email"
                    >
                    <button type="submit" class="flex-none w-full sm:w-auto px-5 py-3 sm:ml-4 bg-green-400 border border-green-100 rounded-sm mb-4">Submit</button>
                    <div class="w-full relative flex items-center">
                        <input type="hidden" value="0" name="consent">
                        <input id="signup-check" value="1" name="consent" type="checkbox" class="styled-checkbox mr-4">
                        <label for="signup-check" class="inset-checkbox text-sm">Yeah, I'm happy for you to send me emails</label>
                    </div>
                    <div class="lb-success-message mt-4 text-green-100">
                        Thanks! You'll be first to know when it all goes wrong...
                    </div>
                    <div class="lb-error-message mt-4 text-error">
                        An error occured
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>
