{% import 'macros/retcon.twig' as retcon %}

{% extends '_layout' %}

{% block content %}
    {% cache %}
    <div class=" max-w-6xl m-auto px-6 md:px-10 mt-12">

        <h2 class="max-w-3xl text-5xl leading-none font-bold mb-12">{{ entry.title }}</h2>

        {% for block in entry.historycontent.all() %}
            {% if block.type == 'event' %}
            <div class="mb-6">
                <div class="font-bold text-sm">{{ block.date|date('jS M Y') }}</div>
                <div class="text-2xl font-bold">{{ block.heading }}</div>
                {% if block.additionalDescription %}
                    <div class="rich-text float-clear">
                        {{ retcon.richTextClasses(block.additionalDescription) }}
                    </div>
                {% endif %}
                {% for image in block.images.all() %}
                    <img class="sm:max-w-md" src="{{ image.url() }}">
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    {% endcache %}
{% endblock %}
