{% import 'macros/retcon.twig' as retcon %}

{% extends '_layout' %}

{% block content %}
    {% cache %}
    <div class="w-full py-24 sm:py-48 bg-green-200 hero-bg">
        <div class="max-w-6xl m-auto px-6 md:px-10">
            <h2 class="max-w-3xl text-4xl sm:text-5xl mx-auto text-center leading-none mb-8 tracking-tight">
                We design and build digital tools for <strong>start-ups</strong> and <strong>creative entities</strong>
            </h2>
            <p class="max-w-3xl text-xl mx-auto text-center ">
                To Be Defined is a new digital agency which exists to help our clients to establish themselves on the web, successfully launch products and connect with audiences.
            </p>
        </div>
    </div>
    <div class="bg-grey-dark py-8">
        <div class="max-w-6xl m-auto px-6 md:px-10 text-white text-center">
            <h3 class="font-bold text-2xl mb-2 leading-none">
                Our client experience
            </h3>
            <p class="mb-12">
                Some of the clients we have worked with within agencies and independently include:
            </p>
            <div class="flex flex-wrap">
                {% set logos = [
                'logo_now.png',
                'logo_retrofuzz.png',
                'logo_wrangler.png',
                'logo_lee.png',
                'logo_beargrylls.png',
                'logo_arcticmonkeys.png',
                'logo_noelgallagher.png',
                'logo_podcast.png',
                'logo_thg.png',
                'logo_totum.png',
                'pole-star-digital-dark-long.png',
                'logo_blockpool.png',
                ] %}
                {% for logo in logos %}
                <div class="w-1/2 sm:w-1/4 h-16 mb-8">
                    <img class="h-full w-full object-contain block"
                    src="/assets/images/{{ logo }}">
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="bg-grey-light">
        <div class="max-w-6xl m-auto px-6 md:px-10 py-16">
            <h3 class="max-w-3xl text-4xl sm:text-5xl mx-auto text-center leading-none mb-8">
                We’re creating a web design studio from the ground up, transparently
            </h3>
            <p class="max-w-3xl text-xl mx-auto text-center mb-12">
                We believe that people, projects and businesses work better together when they’re open, honest and transparent. We also believe that together, we have the experience and drive to establish and grow a successful web design studio.
            </p>
            <div class="text-center">
                <a class="mx-auto block w-full max-w-xs sm:inline sm:w-auto px-5 py-3 bg-green-400 border border-green-100 rounded-sm sm:mr-4 mb-4"
                    href="/open">
                    Read more
                </a>
                <a class="mx-auto block w-full max-w-xs sm:inline sm:w-auto px-5 py-3 bg-green-400 border border-green-100 rounded-sm"
                    href="/history">
                    See our progress
                </a>
            </div>
        </div>
    </div>

    {% endcache %}
{% endblock %}
