{% import 'macros/retcon.twig' as retcon %}

{% extends '_layout' %}

{% block content %}
    {% cache %}
    <div class=" max-w-6xl m-auto px-6 md:px-10 mt-12">
        <h2 class="max-w-3xl text-5xl leading-none font-bold mb-12">We’re creating a web design studio from the ground up, transparently</h2>
        <div class="clearfix flex justify-between max-w-lg">
            {% for image in entry.multiImageSelection.all() %}
            <div class="mb-12 w-2/5 float-left rounded-full overflow-hidden">
                <img src="{{ image.image.one().url('headshots') }}">
            </div>
            {% endfor %}
        </div>
        <div class="rich-text float-clear">
            {{ retcon.richTextClasses(entry.richText) }}
        </div>
    </div>
    {% endcache %}
{% endblock %}
