{% import 'macros/retcon.twig' as retcon %}

{% extends '_layout' %}

{% block content %}

    <div class=" max-w-6xl m-auto px-6 md:px-10 mt-12">

        <h2 class="max-w-3xl text-5xl leading-none font-bold mb-12">Open Stats</h2>
        <p class="max-w-xl mb-4">
            These aren't your classic "12,438 cups of tea consumed" stats. This is the real deal.
        </p>

        <div class="flex justify-between flex-wrap pb-6">

        {% for block in entry.charts.all() %}

            {% switch block.type %}

                {% case "sectionTitle" %}

                    <h3 class="w-full text-3xl leading-none font-bold mt-16 mb-6">{{ block.text }}</h3>

                {% case "chart" %}
                    <div class="w-full md:w-2/5 h-64 pb-6">
                        <p class="mb-4 font-bold">{{ block.text }}</p>
                        <canvas class="" id="chart-{{ loop.index }}" width="100%" height="100%"></canvas>
                    </div>

                    {% js %}

                    var ctx = document.getElementById('chart-{{ loop.index }}').getContext('2d');
                    var myChart{{ loop.index }} = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [
                                {% for row in block.chartData.all() %}
                                '{{ row.label }}',
                                {% endfor %}
                            ],
                            datasets: [{
                                label: '{{ block.text }}',
                                data: [
                                {% for row in block.chartData.all() %}
                                '{{ row.rowValue }}',
                                {% endfor %}
                                ]
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        {% if block.formatAsMoney %}
                                        callback: function(value, index, values) {
                                            return  '£' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                        }
                                        {% endif %}
                                    }
                                }]
                            }
                        }
                    });

                    {% endjs %}

                {% default %}
            {% endswitch %}

        {% endfor %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
{% endblock %}
