{% import 'macros/retcon.twig' as retcon %}

{% extends '_layout' %}

{% block content %}
    <h2 class="max-w-3xl text-5xl leading-none font-bold mb-12">You are lost, but that's ok.</h2>
    <p class="max-w-xl mb-4">Sometimes the best things are found when we aren't actually looking for them.</p>
    <p class="max-w-xl mb-4">When we have some content we'll show some of that here. Until then here's Mario Kart:</p>
    <div class="max-w-xl w-full">
        <div class="w-full h-0 relative" style="padding-bottom:75%">
            <iframe class="absolute" src="//www.retrogames.cc/embed/18635-super-mario-kart-usa-hack-by-ok-impala-v1-0-super-mario-kart-the-impala-battles-custom-battle-tracks.html" width="100%" height="100%" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
        </div>
    </div>
{% endblock %}
